[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Andyzxm/watergeo/blob/main/docs/examples/waterdata_example.ipynb)

In [10]:
#pip install leafmap

In [11]:
import leafmap
import duckdb
import geopandas as gpd

In [12]:
con=duckdb.connect()
con.install_extension("httpfs")
con.load_extension("httpfs")
con.install_extension("spatial")
con.load_extension("spatial")

In [13]:
con.sql("CREATE TABLE IF NOT EXISTS appalachia AS SELECT * FROM ST_read('C:/OneDrive - University of Tennessee/Data/Appalachia_tracts_economi_index/Appalachia_tracts.shp')")
arc=con.sql("SELECT * EXCLUDE geom, ST_AsText(geom) AS geometry FROM appalachia" ).df()
appa_tract=leafmap.df_to_gdf(arc)
appa_tract

,GEOID10,SF,CF,DF_PFS,AF_PFS,HDF_PFS,DSF_PFS,EBF_PFS,EALR_PFS,EBLR_PFS,...,AGE_10,AGE_MIDDLE,AGE_OLD,TA_COU_116,TA_COUNT_C,TA_PERC,TA_PERC_FE,UI_EXP,THRHLD,geometry
0,12087980100,Florida,Monroe,NaN,NaN,NaN,0.02,NaN,NaN,0.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,"MULTIPOLYGON (((-82.86128 24.62956, -82.86284 ..."
1,01113031100,Alabama,Russell,0.99,0.90,0.97,0.08,0.95,0.92,0.24,...,0.07,0.71,0.20,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-85.43364 32.24028, -85.43367 32.242..."
2,01011952500,Alabama,Bullock,0.89,0.65,0.76,0.06,0.90,NaN,0.59,...,0.08,0.71,0.20,NaN,NaN,NaN,NaN,Nation,21,"MULTIPOLYGON (((-85.87213 32.27445, -85.87212 ..."
3,01101005604,Alabama,Montgomery,0.64,0.24,0.43,0.14,0.35,0.78,0.44,...,0.04,0.78,0.16,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-85.93121 32.28549, -85.93085 32.285..."
4,01101005504,Alabama,Montgomery,0.31,0.09,0.19,0.15,0.27,0.79,0.41,...,0.16,0.69,0.14,NaN,NaN,NaN,NaN,Nation,21,"MULTIPOLYGON (((-85.99356 32.35695, -85.99368 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6259,36029015800,New York,Erie,0.44,0.68,0.59,0.06,0.81,0.57,0.17,...,0.11,0.70,0.17,NaN,NaN,NaN,NaN,Nation,21,"MULTIPOLYGON (((-78.62670 42.49810, -78.62675 ..."
6260,36029015102,New York,Erie,0.42,0.70,0.59,0.06,0.70,0.59,0.29,...,0.10,0.69,0.19,NaN,NaN,NaN,NaN,Nation,21,"MULTIPOLYGON (((-78.47093 42.53363, -78.47114 ..."
6261,36121971000,New York,Wyoming,0.52,0.77,0.72,0.06,0.57,0.51,0.64,...,0.13,0.69,0.17,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-78.42472 42.51923, -78.42527 42.519..."
6262,36051031200,New York,Livingston,0.55,0.83,0.75,0.05,0.77,0.80,0.52,...,0.10,0.71,0.17,NaN,NaN,NaN,NaN,Nation,21,"MULTIPOLYGON (((-77.84073 42.51946, -77.84069 ..."
6263,36121971100,New York,Wyoming,0.43,0.73,0.62,0.05,0.86,0.52,0.67,...,0.12,0.71,0.16,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-78.04783 42.52855, -78.04786 42.528..."

In [14]:
m=leafmap.Map()
m.add_data(appa_tract, column='TPF', scheme='Quantiles', cmap='coolwarm', legend_title='population', layer_name='population')
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…